.score__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }

.score .topItem__value {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  align-items: center; }

.score .topItem__title {
  font-size: 12px;
  line-height: 16px;
  color: #777; }

.score .scoreBtn {
  display: flex;
  justify-content: space-between; }
  .score .scoreBtn__item {
    flex: 1;
    display: block;
    height: 46px;
    line-height: 46px;
    background-color: #f5f5f5;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    color: #777;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .score .scoreBtn__item i {
      display: inline-block;
      margin-right: 10px;
      width: 16px;
      height: 16px; }
    .score .scoreBtn__item--want i {
      background: url("../../../icons/heart.svg") 50%/contain no-repeat; }
    .score .scoreBtn__item--seen {
      margin-left: 20px; }
      .score .scoreBtn__item--seen i {
        background: url("../../../icons/star-solid.svg") 50%/contain no-repeat; }
