@import '../../../util';
.tagList{
  padding:10px 0;
  &__item{
    display:inline-block;
    border:1px solid $border;
    color:$black;
    height:28px;
    font-size:14px;
    line-height:28px;
    padding:0 14px;
    border-radius:14px;
    margin:6px 6px 0 0;


    &--active{
      background-color: $active;
      color:#fff;
      border:1px solid $active;
    }
  }


}
