.collText{
  font-size:14px;
  line-height:28px;
  &--collapse{
    overflow:hidden;
    position:relative;
    font-size:14px;
    line-height:28px;

  }
  &__label{
    position:absolute;
    bottom:0;
    right:0;
    font-size:14px;
    line-height:28px;
    color:#6a9ada;
    padding:0 20px 0;
    background:linear-gradient(90deg,hsla(0,0%,100,0%),#fff,#fff,#FFF);
  }

}
