@import "../util";

.tabMenu{
  position:fixed;
  bottom:0;
  display:flex;
  width:100%;
  height:48px;
  background-color:#fff;
  text-align:center;
  border-top:1px solid #efefef;
  a{
    text-decoration:none;
  }

  &__btn{
    flex:1;
    @include flex-v-center;
  }
  &__icon{
    display:block;
    width:22px;
    height:22px;
    background-color:#ccc;
    &--movie{
      background:#fff url("../icons/movie.svg") 50% / contain no-repeat;
    }
    &--user{
      background:#fff url("../icons/user.svg") 50% / contain no-repeat;
    }
    &--cinema{
      background:#fff url("../icons/cinema.svg") 50% / contain no-repeat;
    }
    &--show{
      background:#fff url("../icons/show.svg") 50% / contain no-repeat;
    }
    &--find{
      background:#fff url("../icons/find.svg") 50% / contain no-repeat;
    }
  }
  &__text{
    font-size:10px;
    color:#666;
    margin-top:4px;
  }
  &__btn--active{
    .tabMenu__text{
      color:#ff4c64;
      text-decoration:none;
    }
    .tabMenu__icon{
      &--movie{
        background:#fff url("../icons/movie-solid.svg") 50% / contain no-repeat;
      }
      &--user{
        background:#fff url("../icons/user-solid.svg") 50% / contain no-repeat;
      }


    }


  }

}
